:root {
    --primary-color: black;
    --secondary-color: green;
    --tertiary-color: rgb(164, 204, 164);
    --quadiary-color: rgb(13, 44, 13);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* header start */

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--quadiary-color);
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}
header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 5px 10px;
}

header nav ul, .contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none
}

header nav ul li a  {
   font-weight: lighter;
   font-size: 20px;
   padding: 10px 15px;
}
header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    text-shadow: none;
}

/* End of header */

/* Hero start */
.hero {
    background-color: var(--tertiary-color);
    /* background-image: url("./assets/images/72960f5122fb1f3e24259821e060cb4a.jpg");
    background-size: cover;
    background-position: 100%; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.hero img {
    display: flex;
    width: 100%;
    border: 10px solid var(--primary-color);
}
/* End of hero */

/* About Me section start */
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: darkgrey;
    border-bottom: 5px dotted var(--primary-color);
}

.info-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 25px 0 25px 50px;
    margin-right: 0;
    font-size: 250%;
    
}

.info-facts {
    align-items: center; 
    background-color: rgb(211, 219, 207);
    flex: 2 70%;
    border-left: 10px solid var(--primary-color);
    border-right: 10px solid var(--primary-color);
}
.info-facts ul {
    list-style: none;
    padding: 30px;
}

.info-facts ul li {
    font-size: 36px;
    font-family:'Times New Roman', Times, serif;
    padding: 20px;
}
/* End of "about me" section */

/* My Work section start */
.apps, .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(211, 219, 207);
    flex: 2 70%;
    border-left: 10px solid var(--primary-color);
    border-right: 10px solid var(--primary-color);
    height: 100%;
}

.app, .app-1 {
    position: relative;
    border: 5px solid var(--primary-color);
    width: 450px;
    margin: 5px;
}
.app:hover, .app-1:hover {
    opacity: .5;
}

.app-info {
    position: absolute;
    left: 0; 
    bottom: 50px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-right: 10px solid var(--quadiary-color);
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: underline;
    font-size: 1.75vw;
}

.app-1 {
    width: 100%;
}
/* End of "my work" section */

/* Contact section */
.contact-info ul li {
    padding: 10px;
}
.contact-info ul li:hover {
    background: white;
    color: var(--secondary-color);
    text-shadow: none;
}
